<div class="container">
  <div class="row">
  <div class="d-flex justify-content-evenly mt-5">

    <div class="card cardcursos border-secondary mb-3 col" style="max-width: 18rem;">
      <div class="card-header text-center">Curso de Peinado Profesional</div>
      <div class="card-body text-secondary">
      <%= link_to academia_peinado_peinadoprofesional_path do %>
        <%= image_tag "peinadoprofesional.png", class: "card-img-top", alt: "maquillaje" %>
        <% end %>


      <h5 class="text-center mt-2"><strong>550 MXN / mes</strong></h5>
      <div class="d-grid gap-2">
        <%= link_to "Más Información...", academia_peinado_peinadoprofesional_path, class: "btn btn-primary botonsuscribete" %>
      </div>

    <br>
      <p>Aprenderás a peinar desde cero.</p>
      </div>
    </div>



    <div class="card cardcursos border-secondary mb-3 col" style="max-width: 18rem;">
      <div class="card-header text-center">Curso de Peinado Para Maquilladores.</div>
      <div class="card-body text-secondary">
      <%= link_to academia_peinado_peinadoparamaquilladores_path do %>

        <%= image_tag "peinadomaquilladores.png", class: "card-img-top", alt: "maquillaje" %>
        <% end %>


      <h5 class="text-center mt-2"><strong>550 MXN / mes</strong></h5>
      <div class="d-grid gap-2">
        <%= link_to "Más Información...", academia_peinado_peinadoparamaquilladores_path, class: "btn btn-primary botonsuscribete" %>
      </div>

    <br>
      <p>Ofrece un servicio de belleza integral ampliando tu catálogo de servicios de maquillaje con el servicio de diseño personalizado
      de peinado profesional de acuerdo a las necesidades de tu cliente.</p>
      </div>
    </div>



      <div class="card cardcursos border-secondary mb-3 col" style="max-width: 18rem;">
      <div class="card-header text-center">Curso de Peinados para Playa.</div>
      <div class="card-body text-secondary">
      <%= link_to academia_peinado_peinadoparaplaya_path do %>
        <%= image_tag "peinadoplaya.png", class: "card-img-top", alt: "maquillaje" %>
        <%end  %>

      <h5 class="text-center mt-2"><strong>550 MXN / mes</strong></h5>
      <div class="d-grid gap-2">
        <%= link_to "Más Información...", academia_peinado_peinadoparaplaya_path, class: "btn btn-primary botonsuscribete" %>

      </div>

    <br>
      <p>Aprenderás a preparar de forma correcta el cabello de tus clientes para lograr peinados duraderos garantizando su duración
      en un evento de playa o en climas húmedos.</p>
      </div>
    </div>





      <div class="card cardcursos border-secondary mb-3 col" style="max-width: 18rem;">
      <div class="card-header text-center">Curso de Extensiones de Cabello 1.</div>
      <div class="card-body text-secondary">
      <%= link_to academia_peinado_extensiones1_path do %>
        <%= image_tag "extensiones1.png", class: "card-img-top", alt: "maquillaje" %>
        <% end %>


      <h5 class="text-center mt-2"><strong>550 MXN / mes</strong></h5>
      <div class="d-grid gap-2">
        <%= link_to "Más Información...", academia_peinado_extensiones1_path, class: "btn btn-primary botonsuscribete" %>
      </div>

    <br>
      <p>Aprende cinco técnicas de aplicación, cuidado de extensiones, retiro y efecto glitter de manera profesional.</p>
      </div>
    </div>
  </div>
  <div class="row">
  <div class="d-flex justify-content-evenly mt-5">
        <div class="card cardcursos border-secondary mb-3 col" style="max-width: 18rem;">
        <div class="card-header text-center">Curso de Extensiones de Cabello 2</div>
        <div class="card-body text-secondary">
      <%= link_to academia_peinado_extensiones2_path do %>
        <%= image_tag "extensiones2.png", class: "card-img-top", alt: "maquillaje" %>
        <% end %>


        <h5 class="text-center mt-2"><strong>550 MXN / mes</strong></h5>
        <div class="d-grid gap-2">
        <%= link_to "Más Información...", academia_peinado_extensiones2_path, class: "btn btn-primary botonsuscribete" %>
        </div>

        <br>
        <p>Aprende dos técnicas de aplicación, cuidado de extensiones, retiro y la técnica de combinación manual para lograr efectos de color como todo un profesional.</p>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
