<div class="container">
  <div class="row">
    <div class="d-flex justify-content-evenly mt-5">
      <div class="card cardcursos border-secondary mb-3 col" style="max-width: 18rem;">
        <div class="card-header text-center">Curso de Uñas Cartoon</div>
        <div class="card-body text-secondary">
          <%= link_to academia_unas_cartoon_path do %>

            <%= image_tag "cartoon.png", class: "card-img-top", alt: "maquillaje" %>
          <% end %>


          <h5 class="text-center mt-2"><strong>550 MXN / mes</strong></h5>
          <div class="d-grid gap-2">
            <%= link_to "Más Información...", academia_unas_cartoon_path, class: "btn btn-primary botonsuscribete" %>
          </div>

          <br>
          <p>Aprenderás a realizar diez diseños de cartoon desde cero.</p>
        </div>
      </div>

      <%# -------------------------------------------------------- %>
      <div class="card cardcursos border-secondary mb-3 col" style="max-width: 18rem;">
        <div class="card-header text-center">Curso de Dry Manicura.</div>
        <div class="card-body text-secondary">
          <%= link_to academia_unas_drymanicura_path do %>
            <%= image_tag "drymanicura.png", class: "card-img-top", alt: "maquillaje" %>
          <%end  %>

          <h5 class="text-center mt-2"><strong>980 MXN / mes</strong></h5>
          <div class="d-grid gap-2">
            <%= link_to "Más Información...", academia_unas_drymanicura_path, class: "btn btn-primary botonsuscribete" %>
          </div>

          <br>
          <p>Aprenderás a realizar un procedimiento de limpieza profunda de las uñas y áreas cercanas.</p>
        </div>
      </div>



      <%# -------------------------------------------------------- %>


      <div class="card cardcursos border-secondary mb-3 col" style="max-width: 18rem;">
        <div class="card-header text-center">Curso de Uñas Acrílicas con DS</div>
        <div class="card-body text-secondary">
          <%= link_to academia_unas_dualsystemacrilico_path do %>
            <%= image_tag "dualsystem.png", class: "card-img-top", alt: "maquillaje" %>
          <% end %>
          <h5 class="text-center mt-2"><strong>550 MXN / mes</strong></h5>
          <div class="d-grid gap-2">
            <%= link_to "Más Información...", academia_unas_dualsystemacrilico_path, class: "btn btn-primary botonsuscribete" %>
          </div>

          <br>
          <p>Aprenderás a aplicar uñas acrílicas con Dual System desde cero.
          Nivel: Básico-Intermedio</p>
        </div>
      </div>



      <%# -------------------------------------------------------- %>


      <div class="card cardcursos border-secondary mb-3 col" style="max-width: 18rem;">
        <div class="card-header text-center">Curso de Uñas de Polygel Con DS</div>
        <div class="card-body text-secondary">
          <%= link_to academia_unas_dualsystempolygel_path do %>
            <%= image_tag "dualsystempoligel.png", class: "card-img-top", alt: "maquillaje" %>
          <% end %>

          <h5 class="text-center mt-2"><strong>550 MXN / mes</strong></h5>
          <div class="d-grid gap-2">
            <%= link_to "Más Información...", academia_unas_dualsystempolygel_path, class: "btn btn-primary botonsuscribete" %>
          </div>

          <br>
          <p>
            Aprenderás a aplicar uñas de polygel con Dual System desde cero.

            Nivel: Básico-Intermedio</p>
        </div>
      </div>
    </div>
  </div>

  <%# -------------------------------------------------------- %>
  <div class="row">
        <div class="d-flex justify-content-evenly mt-5">
        <div class="card cardcursos border-secondary mb-3 col" style="max-width: 18rem;">
        <div class="card-header text-center">Curso de Uñas Hiperrealistas</div>
        <div class="card-body text-secondary">
        <%= link_to academia_unas_hiperrealismo_path do %>
          <%= image_tag "hiperrealismo.png", class: "card-img-top", alt: "maquillaje" %>
          <% end %>


        <h5 class="text-center mt-2"><strong>550 MXN / mes</strong></h5>
        <div class="d-grid gap-2">
          <%= link_to "Más Información...", academia_unas_hiperrealismo_path, class: "btn btn-primary botonsuscribete" %>
        </div>

      <br>
        <p>Aprenderás a aplicar uñas acrílicas y de polygel hiperrealistas desde cero con decoraciones de arte. en su estructura.

      Nivel: Básico-Intermedio</p>
        </div>
      </div>



    <%# -------------------------------------------------------- %>


      <div class="card cardcursos border-secondary mb-3 col" style="max-width: 18rem;">
      <div class="card-header text-center">Curso de Manicura Spa.</div>
      <div class="card-body text-secondary">
      <%= link_to academia_unas_manicuraspa_path do %>
        <%= image_tag "manicuraspa.png", class: "card-img-top", alt: "maquillaje" %>
        <% end %>


      <h5 class="text-center mt-2"><strong>550 MXN / mes</strong></h5>
      <div class="d-grid gap-2">
        <%= link_to "Más Información...", academia_unas_manicuraspa_path, class: "btn btn-primary botonsuscribete" %>
      </div>

      <br>
        <p>Aprenderás a realizar una correcta manicura spa paso a paso para lograr recobrar la salud e hidratación de las manos de tu cliente.</p>
        </div>
      </div>



    <%# -------------------------------------------------------- %>


          <div class="card cardcursos border-secondary mb-3 col" style="max-width: 18rem;">
          <div class="card-header text-center">Curso de Uñas de Polygel 1</div>
          <div class="card-body text-secondary">
          <%= link_to academia_unas_polygel1_path do %>
            <%= image_tag "polygel1.png", class: "card-img-top", alt: "maquillaje" %>
            <% end %>


          <h5 class="text-center mt-2"><strong>550 MXN / mes</strong></h5>
          <div class="d-grid gap-2">
            <%= link_to "Más Información...", academia_unas_polygel1_path, class: "btn btn-primary botonsuscribete" %>
          </div>

        <br>
          <p>Aprenderás a aplicar uñas de polygel desde cero.

      Nivel: Básico-Intermedio</p>
          </div>
        </div>



   <%# -------------------------------------------------------- %>


      <div class="card cardcursos border-secondary mb-3 col" style="max-width: 18rem;">
      <div class="card-header text-center">Curso de Uñas de Polygel 2</div>
      <div class="card-body text-secondary">
      <%= link_to academia_unas_polygel2_path do %>
        <%= image_tag "polygel2.png", class: "card-img-top", alt: "maquillaje" %>
        <% end %>


      <h5 class="text-center mt-2"><strong>550 MXN / mes</strong></h5>
      <div class="d-grid gap-2">
        <%= link_to "Más Información...", academia_unas_polygel2_path, class: "btn btn-primary botonsuscribete" %>
      </div>

    <br>
      <p>Aprenderás perfeccionar la aplicación de uñas de polygel.

    Nivel: Intermedio</p>
        </div>
      </div>

    </div>
  </div>
  <%# -------------------------------------------------------- %>

   <div class="row">
      <div class="d-flex justify-content-evenly mt-5">
      <div class="card cardcursos border-secondary mb-3 col" style="max-width: 18rem;">
      <div class="card-header text-center">Curso de Uñas de Polygel 3</div>
      <div class="card-body text-secondary">
      <%= link_to academia_unas_polygel3_path do %>
        <%= image_tag "polygel3.png", class: "card-img-top", alt: "maquillaje" %>
        <% end %>


      <h5 class="text-center mt-2"><strong>550 MXN / mes</strong></h5>
      <div class="d-grid gap-2">
        <%= link_to "Más Información...", academia_unas_polygel3_path, class: "btn btn-primary botonsuscribete" %>
      </div>

    <br>
      <p>Aprenderás estructuras de segunda posición y la técnica de reversa.

    Nivel: Avanzado</p>
      </div>
    </div>



    <%# -------------------------------------------------------- %>


      <div class="card cardcursos border-secondary mb-3 col" style="max-width: 18rem;">
      <div class="card-header text-center">Uñas Press On</div>
      <div class="card-body text-secondary">
      <%= link_to academia_unas_presson_path do %>
        <%= image_tag "presson.png", class: "card-img-top", alt: "maquillaje" %>
        <% end %>


      <h5 class="text-center mt-2"><strong>550 MXN / mes</strong></h5>
      <div class="d-grid gap-2">
        <%= link_to "Más Información...", academia_unas_presson_path, class: "btn btn-primary botonsuscribete" %>
      </div>

    <br>
      <p>Aprenderás a realizar uñas press on, cómo colocarlas para que duren de 1 a 3 días o hasta de 1 a 3 semanas y a retirarlas correctamente.</p>
      </div>
    </div>



    <%# -------------------------------------------------------- %>


      <div class="card cardcursos border-secondary mb-3 col" style="max-width: 18rem;">
      <div class="card-header text-center">Curso de Esmaltado Semipermanente</div>
      <div class="card-body text-secondary">
      <%= link_to academia_unas_semipermanente_path do %>
        <%= image_tag "semipermanente.png", class: "card-img-top", alt: "maquillaje" %>
        <% end %>


      <h5 class="text-center mt-2"><strong>550 MXN / mes</strong></h5>
      <div class="d-grid gap-2">
        <%= link_to "Más Información...", academia_unas_semipermanente_path, class: "btn btn-primary botonsuscribete" %>
      </div>

    <br>
      <p>Aprenderás a aplicar esmaltado semipermanente desde cero.</p>
      </div>
    </div>


    <%# -------------------------------------------------------- %>


      <div class="card cardcursos border-secondary mb-3 col" style="max-width: 18rem;">
      <div class="card-header text-center">Curso de Uñas de Soft Gel.</div>
      <div class="card-body text-secondary">
      <%= link_to academia_unas_softgel_path do %>
        <%= image_tag "softgel.png", class: "card-img-top", alt: "maquillaje" %>
        <% end %>


      <h5 class="text-center mt-2"><strong>550 MXN / mes</strong></h5>
      <div class="d-grid gap-2">
        <%= link_to "Más Información...", academia_unas_softgel_path, class: "btn btn-primary botonsuscribete" %>
      </div>

    <br>
      <p>Aprenderás a realizar una correcta aplicación, retiro y retoque de uñas de soft gel.</p>
      </div>
    </div>
    </div>
  </div>

  <%# -------------------------------------------------------- %>

  <div class="row">
    <div class="d-flex justify-content-evenly mt-5">
      <div class="card cardcursos border-secondary mb-3" style="max-width: 18rem;">
      <div class="card-header text-center">Curso de De Uñas Tecnicas Mixtas.</div>
      <div class="card-body text-secondary">
      <%= link_to academia_unas_tecnicamixta_path do %>
        <%= image_tag "tecnicamixta.png", class: "card-img-top", alt: "maquillaje" %>
        <% end %>


      <h5 class="text-center mt-2"><strong>550 MXN / mes</strong></h5>
      <div class="d-grid gap-2">
        <%= link_to "Más Información...", academia_unas_tecnicamixta_path, class: "btn btn-primary botonsuscribete" %>
      </div>

    <br>
      <p>Aprende a realizar diversos procedimientos artísticos combinando los tres sistemas de aplicación (acrílico, polygel y gel semipermanente) que al ser fusionados entre sí generan un concepto de autor único en el diseño de uñas.</p>
      </div>
    </div>



   <%# -------------------------------------------------------- %>


      <div class="card cardcursos border-secondary mb-3" style="max-width: 18rem;">
      <div class="card-header text-center">Curso de Uñas Con Diseño 3D</div>
      <div class="card-body text-secondary">
      <%= link_to academia_unas_unas3d_path do %>
        <%= image_tag "unas3d.png", class: "card-img-top", alt: "maquillaje" %>
        <% end %>


      <h5 class="text-center mt-2"><strong>550 MXN / mes</strong></h5>
      <div class="d-grid gap-2">
        <%= link_to "Más Información...", academia_unas_unas3d_path, class: "btn btn-primary botonsuscribete" %>
      </div>

    <br>
      <p>Aprenderás a realizar diseños 3D en uñas.</p>
      </div>
    </div>



    <%# -------------------------------------------------------- %>


      <div class="card cardcursos border-secondary mb-3" style="max-width: 18rem;">
      <div class="card-header text-center">Curso de Uñas Acrílicas 1</div>
      <div class="card-body text-secondary">
      <%= link_to academia_unas_unasacrilica1_path do %>
        <%= image_tag "unasacrilica1.png", class: "card-img-top", alt: "maquillaje" %>
        <% end %>


      <h5 class="text-center mt-2"><strong>550 MXN / mes</strong></h5>
      <div class="d-grid gap-2">
        <%= link_to "Más Información...", academia_unas_unasacrilica1_path, class: "btn btn-primary botonsuscribete" %>
      </div>

    <br>
      <p>Aprenderás a aplicar uñas acrílicas desde cero.

    Nivel: Básico-Intermedio</p>
      </div>
    </div>



   <%# -------------------------------------------------------- %>


      <div class="card cardcursos border-secondary mb-3" style="max-width: 18rem;">
      <div class="card-header text-center">Curso De Uñas Acrílicas 2</div>
      <div class="card-body text-secondary">
      <%= link_to academia_unas_unasacrilica2_path do %>
        <%= image_tag "unasacrilica2.png", class: "card-img-top", alt: "maquillaje" %>
        <% end %>


      <h5 class="text-center mt-2"><strong>550 MXN / mes</strong></h5>
      <div class="d-grid gap-2">
        <%= link_to "Más Información...", academia_unas_unasacrilica2_path, class: "btn btn-primary botonsuscribete" %>
      </div>

    <br>
      <p>Aprenderás perfeccionar la aplicación de uñas acrílicas.

    Nivel: Intermedio</p>
      </div>
    </div>
    </div>
  </div>

    <%# -------------------------------------------------------- %>

      <div class="row">
      <div class="d-flex justify-content-evenly mt-5">
        <div class="card cardcursos border-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header text-center">Curso de Uñas Acrílicas 3</div>
        <div class="card-body text-secondary">
        <%= link_to academia_unas_unasacrilica3_path do %>
          <%= image_tag "unasacrilica3.png", class: "card-img-top", alt: "maquillaje" %>
          <% end %>


        <h5 class="text-center mt-2"><strong>550 MXN / mes</strong></h5>
        <div class="d-grid gap-2">
          <%= link_to "Más Información...", academia_unas_unasacrilica3_path, class: "btn btn-primary botonsuscribete" %>
        </div>

      <br>
        <p>Aprenderás estructuras de segunda posición y la técnica de reversa.

      Nivel: Avanzado</p>
        </div>
      </div>

    </div>
  </div>
  </div>
</div>
