<div class="footer" style="background-image: url('<%= asset_path('footer.jpg') %>')">
  <div class="container-fluid colorarrow arrow-container">

      <a href="#"><%= image_tag "flechaarriba.png", :size =>"70x70"  %></a>

    </div>
  <div class="container-fluid ">

    <div class="container ">
      <div class="row justify-content-between d-flex ">
        <div class="col-4 ms-5 mt-3 aviso">

          <%= image_tag "logo.png", :size =>"140x80", class:"img-fluid ms-2" %>


          <div class="mt-1">
          <p>&copy; 2023 Viridiana Raya Beauty.</p>
          </div>
        </div>
        <div class="col-3 ">
          <div class="contactanos">
            <p> CONTACTANOS</p>
          </div>
          <div class="mt-3">
          <a href="https://www.youtube.com/channel/UCsR5VIZwGN9pzyBp3OqvTQw"  target="_blank"><%= image_tag "youtube.png",  class:"social-icon"  %></a>
          <a href="https://www.facebook.com/ViridianaRayaOficial" target="_blank"><%= image_tag "facebook.png",  class:"img-fluid",  class:"social-icon"  %></a>
          <a href="https://www.instagram.com/viridiana.raya/?fbclid=IwAR2xywRAXBPLDnGZ2zX1Mhu3e-E5oH9KNBLEqeXQHMqEFuZMPeI_OPsfYJE" target="_blank"><%= image_tag "instagram.png",  class:"social-icon"  %></a>
          <a href="https://www.tiktok.com/@viridiana.raya?fbclid=IwAR3mHTnW1TkA5fkEooIYDgh4oWvu8wDlnv_wxw47PzaGrsDwUqEZs6qmoCg" target="_blank"><%= image_tag "tik-tok(3).png",  class:"social-icon"  %></a>
          <a href="https://twitter.com/ViridianaRaya_" target="_blank"><%= image_tag "twitter.png",  class:"img-fluid",  class:"social-icon"  %></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
