    <%# <script>

// Llama a la función para recargar la página solo una vez
      document.addEventListener("DOMContentLoaded", () => {
        const hoverImage = document.getElementById("hover-image");
        const imagePath = "/assets/fotologo1.jpg";
        const iimagePath = "/assets/imagenlogo.png";

        // Cambiar la imagen al pasar el cursor sobre ella
        hoverImage.addEventListener("mouseover", () => {
          hoverImage.src = iimagePath;
          });

        // Restaurar la imagen original cuando el cursor ya no esté sobre ella
        hoverImage.addEventListener("mouseout", () => {
          hoverImage.src = imagePath;
        });
      });

    </script> %>
<div class="colornav pb-5">
  <div class="container colornav">
    <nav class="pd-3">
      <div class="logo">
        <%= image_tag "logo.png", :size =>"190x100"%>
      </div>
    </nav>
    <div class="row justify-content-evenly">
      <div class="navv col-2 "><%= link_to "Inicio", root_path %></div>
      <div class="navv col-2"><a href="#">Academia</a></div>
      <div class="navv col-2"><a href="#">Productos</a></div>
      <div class="navv col-2 stylenavbar"><%= link_to "Redes Sociales", redessociales_path %></div>

      <div class="navv col-2"><a href="#">Contacto</a></div>
    </div>

  </div>
</div>


<div class="containere d-flex flex-column justify-content-center align-items-center " >
  <div class="container-info mt-4">
<style>

 .containere {
  position: relative;
}

.containere::before {

  padding: 40px 20px;


  color: white;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('<%= asset_path("footer.jpg") %>');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  /* filter: blur(150px); */
  z-index: -1;
}
  .info__img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
  background-image: url('<%= image_url("/assets/fotologo1.jpg") %>');
  background-size: cover;
  background-position: center;
  /* filter: blur(10px); */
}
.info__img:hover {
  background-image: url('<%= image_url('/assets/imagenlogo.jpg')%>');

}


</style>

    <div  class="info__img"  ></div>
    <div class="container-info__name-container">
      <h3 class="container-info__name">VIRIDIANA RAYA</h3>
      <i class="container-info__check fas fa-check-circle"></i>
    </div>
    <p class="container-info__desc ms-4">Diseñadora profesional de maquillaje, peinado y uñas.</p>
  </div>
  <div class="container-cards">
    <a class="container-card" target="_blank" href="https://www.youtube.com/channel/UCsR5VIZwGN9pzyBp3OqvTQw">

     <%= image_tag "youtube.png",  class:"social-icon2 container-card__icon fas fa-mobile-alt"  %>
      <p class="container-card__name">YOUTUBE</p>
    </a>
     <a class="container-card" target="_blank" href="https://www.facebook.com/ViridianaRayaOficial">
     <%= image_tag "facebook.png",  class:"social-icon2 container-card__icon fas fa-mobile-alt"  %>
      <p class="container-card__name">FACEBOOK</p>
    </a>
    <a class="container-card" target="_blank" href="https://www.instagram.com/viridiana.raya/?fbclid=IwAR2xywRAXBPLDnGZ2zX1Mhu3e-E5oH9KNBLEqeXQHMqEFuZMPeI_OPsfYJE">
      <%= image_tag "instagram.png",  class:"social-icon2 container-card__icon fas fa-mobile-alt"  %>
      <p class="container-card__name">INSTAGRAM</p>
    </a>
    <a class="container-card" target="_blank" href="https://www.tiktok.com/@viridiana.raya?fbclid=IwAR3mHTnW1TkA5fkEooIYDgh4oWvu8wDlnv_wxw47PzaGrsDwUqEZs6qmoCg">
     <%= image_tag "tik-tok(3).png",  class:"social-icon2 container-card__icon fas fa-mobile-alt"  %>
      <p class="container-card__name">TIKTOK</p>
    </a>
    <a class="container-card" target="_blank" href="https://twitter.com/ViridianaRaya_">
     <%= image_tag "twitter.png",  class:"social-icon2 container-card__icon fas fa-mobile-alt"  %>
      <p class="container-card__name">TWITTER</p>
    </a>
  </div>
</div>
